In [1]:
import pandas as pd
import pickle
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.metrics import root_mean_squared_error

In [2]:
# Yellow Taxi Trip Records for January and February 2023

link = 'https://d37ci6vzurychx.cloudfront.net/trip-data/'
data = 'yellow_tripdata_2023-01.parquet'

datapath = link + data

In [3]:
# Question 1
df = pd.read_parquet(datapath)
print(f'Number of columns for Jan 23: {len(df.columns)}')

Number of columns for Jan 23: 19

In [4]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00

In [5]:
# Question 2
df['duration'] = df.tpep_dropoff_datetime - df.tpep_pickup_datetime
df.duration = df.duration.apply(lambda td: td.total_seconds() / 60)

In [6]:
print(f'Standard deviation of trip duration: {np.std(df.duration)}')

Standard deviation of trip duration: 42.59434429744777

In [7]:
# Question 3
with_outlier = len(df)

df = df[(df.duration >= 1) & (df.duration <= 60)]
without_outlier = len(df)

frac = 1- ((with_outlier - without_outlier) / with_outlier)
print(f'Fraction of the records left after droping outliers: {frac}')

Fraction of the records left after droping outliers: 0.9812202822125979

In [8]:
# Question 4
df['DOLocationID'] = df['DOLocationID'].astype(str)

train_dicts = df[categorical + numerical].to_dict(orient='records')

dv = DictVectorizer()
X_train = dv.fit_transform(train_dicts)

target = 'duration'
y_train = df[target].values

row, col = X_train.shape
print(f'Number of columns in feature matrix: {col}')

TypeError: Unsupported value Type <class 'pandas._libs.tslibs.timestamps.Timestamp'> for tpep_pickup_datetime: 2023-01-01 00:32:10.
<class 'pandas._libs.tslibs.timestamps.Timestamp'> objects are not supported.